body, img, header, ul, div, p, h1,h2,h3,h4,h5,h6, section, arcticle{
	padding :0px;
	margin:0px;
}
html{
	width: 100%;
}
a{
	text-decoration:none;
}
a:hover{
	color: #11719e;
	text-decoration:none;
}
li{
	list-style-type:none;
}
.color-while-txt{
	color: #fff;
}
/*---------------------------------------------------------------Header--------------------*/
.header{
	background-color: #000;
}
.logo{
	width:115px;
	height:136px;
}
.right-header-1{
	width: 100%;
}
.right-header-2{
	width: 16%;
}
.height-header{
	min-height: 145px;
}
.width-li-header{
	width: 17%;
}
.li-header:hover a{
	font-weight: bold;
	color: #fff;
}
.li-header:hover{
	background-color: #242424;
	border-top:4px solid #fff;
}
.login-acount{
	max-height: 70px;
	display: inline-block;
	width: 50%;
}
.text-nav{
	font-size: 16px;
}
/*---------------------------------------------------------------seiction-1--------------------*/
.section-1{
	width: 100%;
	background-image: url('./image/ask_background.png');
	background-repeat: repeat-x;
}
.height-secyion-1{
	height: 759px;
}
.top-s1{
    width: 100%;
}
.center-section1{
	margin-top: 172px;
    margin-bottom: 1px;
    height: 587px;
    width: 94%;
}
.left-section-1{
	height: 587px;
    width: 64%;
}
.progress-sadow{
	margin-top: 1rem;
    margin-left: 63%;
    width: 36%;
    height: 9px;
}
.pr-1{
	width:5% ;
}
.pr-2{
	width:10% ;
	opacity: 0.1;
}
.pr-3{
	width:10% ;
}
.pr-4{
	width:5% ;
	opacity: 0.1;
}
.pr-5{
	width:70% ;
}
.bg-pr{
	background: #fff;
	height: 9px;
}
.title-left-s1{
	font-size: 41px;
}
.q-a-p{
    font-size: 28px;
}
.text-la{
	font-size: 13px;
}

.btgr{
	margin-top: 11rem;
    width: 65%;
    min-height: 45px;
}
.bt-left{
    width: 40%;
    float: left;
    min-height: 45px;
}
a.bt-2:hover{
	background-color: #fff;
}
.bt-2{
	border: 1px solid #fff;
}
.bt-right{
	min-height: 45px;
	float: right;
}
.width-50{
	width: 50%;
}
.right-section-1{
	height: 587px;
    width: 32%;
}
/*---------------------------------------------------------------seiction-2---------------------*/
.section-2{
	width: 100%;
	min-height: 500px;
}
.top-s2{
	margin-top: 4rem;
    min-height: 80px;
    width: 28%;
}
.hiw{
	font-size: 3rem;
    letter-spacing: 4px;
}
.text-xanh{
	color: #11719e;
}
.prg-sawdow-s2{
	margin-left: 3px;
	width: 29%;
	height: 5px;
}
.pg-left{
	width: 80%;
	height: 5px;
	background-color: #11719e;
}
.pg-right{
	width: 10%;
	height: 5px;
	background-color: #11719e;
}
.bottom-s2{
	margin-top: 5rem;
    width: 75%;
    min-height: 270px;
}
.width-20{
	width: 20%;
}
.khung{
	width: 75%;
    height: 130px;
	border:1px solid #11719e;
}
.p-s2{
	margin-top: 3rem;
    font-size: 15px;
}
/*---------------------------------------------------------------seiction-3--------------------*/
.section-3{
	width: 100%;
	min-height: 630px;
	background-color: #037693;
}
.right-s3-father{
	min-height: 600px;
}
.right-s3{
	margin-left: -100px;
	width: 100%;
	height: 540px;
}
.right-1-s3{
	width: 49%;
	float: left;
}
.right-2-s3{
	width: 35%;
	float: right;
}
.rhombus-1{
	margin-top: 31px;
    margin-left: 31px;
    background: #037693;
    width: 150px;
    height: 150px;
    transform: rotate(45deg);
    border: 1px solid #f1b451;
}
.rhombus-2{
	margin-top: -42px;
    margin-left: 140px;
    background: #037693;
    width: 150px;
    height: 150px;
    transform: rotate(45deg);
    border: 1px solid #f1b451;
}
.rhombus-3{
	margin-top: -42px;
    margin-left: 31px;
    background: #037693;
    width: 150px;
    height: 150px;
    transform: rotate(45deg);
    border: 1px solid #f1b451;
}
.rhombus-11{
    background: #f1b451;
    width: 130px;
    height: 130px;
}
.light{
	transform: rotate(-45deg);
	margin-left: 1rem!important;
}
.p-rhombus-1{
	margin-top: -16px;
    margin-left: 24px;
    transform: rotate(-45deg);
    font-size: 16px;
}
.interaction{
	border: 1px solid #fff;
    width: 231px;
    height: 46px;
    transform: rotate(-90deg)!important;
    margin-top: 92px;
    margin-left: -92px;
}
.firt-interaction{
	background: #fff;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin-left: 11px;
}
.second-interaction{
	height: 1px;
    width: 54px;
    background-color: #fff;
}
.p-interaction{
	font-size: 23px;
    letter-spacing: 3px;
    margin-bottom: 4px;
}
.center-1-s3{
	width: 50%;
}
.h2-s3{
	font-size: 42px;
}
.shadow-txt-s3{
	width: 11rem;
    height: 1px;
    background: #fff;
    margin-top: -4px;
    margin-left: 202px;
}
.p-1-s2{
	font-size: 13px;
}
/*---------------------------------------------------------------seiction-4--------------------*/
.section-4{
	width: 100%;
	min-height: 480px;
}
.top-s4{
	margin-top: 5rem;
    min-height: 80px;
    width: 18%;
}
.center-s4{
	min-height: 288px;
	width: 67%;
}
.second-s4{
	width: 33.33%;
	height: 144px;
}
.bottom-s4{
	margin-top: 4rem;
}
.div-2-s4{
	position: relative;
	border-bottom: 1px solid #11719e;
	border-left: 1px solid #11719e;
	border-right: 1px solid #11719e;
}
.div-4-s4{
	position: relative;
	border-top: 1px solid #11719e;
	border-right: 1px solid #11719e;
}
.div-img-s4{
	width: 47px;
	height: 49px;
}
.img-s4{
	margin-top: 20px;
	width: 47px;
	height: 49px;
}
.div-6-s4{
	position: relative;
	border-top: 1px solid #11719e;
	border-left: 1px solid #11719e;
	margin-left: -1px;
}
.z99-1{
	position: absolute;
	width: 30px;
    height: 30px;
    background: #fff;
    left: -1px!important;
    bottom: -1px!important;
}
.z99-2{
	position: absolute;
	width: 30px;
    height: 30px;
    background: #fff;
    right: -1px!important;
    bottom: -1px!important;
}
.z99-4{
	position: absolute;
	height: 30px;
    width: 30px;
    background-color: #fff;
    top: -1px!important;
    right: -1px!important;
}
.z99-6{
	position: absolute;
	height: 30px;
    width: 30px;
    background-color: #fff;
    left: -1px!important;
    top: -1px!important;
}
.aaq{
	font-size: 21px;
	margin-top: 32px!important;
}
/*---------------------------------------------------------------seiction-5--------------------*/
.section-5{
	width: 100%;
	min-height: 350px;
}
.img-s5{
	min-height: 350px;
	position: relative;
	z-index: 1px;
}
.top-s5{
	width: 205px;
}
.prg-sawdow-s5 {
    margin-left: 62%;
    width: 35%;
    height: 5px;
}
.pg-left-s5{
	width: 10%;
	height: 5px;
	background-color: #fff;
}
.pg-right-s5{
	width: 80%;
	height: 5px;
	background-color: #fff;
}
.div-s5{
    width: 100%;
    min-height: 350px;
    position: relative;
    margin-top: -317px;
    z-index: 99;
}
.img-mini{
	width: 17%;
    height: 27px;
}
.img-mini-1{
	width: 100%;
    height: 27px;
}
.img-end-s5{
	width: 12%;
    margin-top: 2rem;
}
/*---------------------------------------------------------------seiction-6--------------------*/
.section-6{
	width: 100%;
	background-color: #e2e2e2;
	min-height: 520px;
}
.top-s6{
	width: 11%;
}
.prg-sawdow-s6{
	width: 48%;
}
.bottom-s6{
	min-height: 335px;
    width: 71%;
}
.arc-1-s6, .arc-2-s6, .arc-3-s6{
	background-color: #fff;
	width: 32.33%;
	min-height: 335px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
	position: relative;
	z-index: 1px;
}
.arc-1-s6:hover{
	position: relative;
	z-index: 99;
	width: 35.33%;
	min-height: 370px;
	box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 0.19);
}
.arc-2-s6:hover{
	position: relative;
	z-index: 99;
	width: 35.33%;
	min-height: 370px;
	box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 0.19);
}
.arc-3-s6:hover{
	position: relative;
	z-index: 99;
	width: 35.33%;
	min-height: 370px;
	box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 0.19);
}
.img-1-s6{
	position: relative;
	z-index: 1;
}
.img-11-s6{
	margin-top: -144px;
    position: relative;
    z-index: 9;
    width: 100%;
    height: 137px;
}
.p-1-s6{
	font-size: 40px;
}
.shadow1-img-s6{
	width: 100%;
	height: 3px;
	background-color: #037693;
}
.shadow2-img-s6{
	width: 100%;
	height: 3px;
	background-color: #ee4f4f;
}

.shadow3-img-s6{
	width: 100%;
	height: 3px;
	background-color: #d7a73f;
}

.img-I-s6{
	width: 10%;
    margin-left: 8rem;
    margin-top: 1rem;
}
.p-2-s6{
	width: 75%;
}
.p-22-s6{
	font-size: 12px;
}
.bt-1-s6{
	width: 35%;
    background-color: #037693;
    border-radius: 43px;
}
.bt-2-s6{
	width: 35%;
    background-color: #ee4f4f;
    border-radius: 43px;
}
.bt-3-s6{
	width: 35%;
    background-color: #d7a73f;
    border-radius: 43px;
}
/*----------------------------------------------------------------------seiction-7--------------------*/
.section-7{
	width: 100%;
	min-height: 500px;;
}
.knowus{
	border: 1px solid #037693;
    width: 231px;
    height: 46px;
    transform: rotate(-90deg)!important;
    margin-top: 92px;
    margin-left: -92px;
}
.firt-knowus{
	background: #037693;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin-left: 11px;
}
.second-knowus{
	height: 1px;
    width: 72px;
    background-color: #037693;
}
.p-knowus{
	font-size: 23px;
    letter-spacing: 5px;
    margin-bottom: 4px;
}
.top-s7{
	width: 225px;
}
.prg-sawdow-s7 {
    margin-left: 62%;
    width: 35%;
    height: 5px;
}
.pg-left-s7{
	width: 10%;
	height: 5px;
	background-color: #037693;
}
.pg-right-s7{
	width: 80%;
	height: 5px;
	background-color: #037693;
}
.text-den{
	color: #000;
}
.center-1-s7{
	margin-left: -3px!important;
	width: 50%;
}
.h4-s7{
	margin-left: -3px!important;
}
.bg-xanh{
	background-color: #037693!important;
}
.shadow-txt-s7{
	width: 11rem;
    height: 1px;
    background: #fff;
    margin-top: -5px;
    margin-left: 262px!important;
}
.div-1-s7{
	width: 30%;
}
.out-elip{
	width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #60b4ac;
}
.elip{
	width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #099178;
    border: 1px solid #fff;
}
.p1-div-s7{
	color: #60b4ac;
    font-size: 28px;
}
.p2-div-s7{
	font-size: 14px;
}
.div-shadow-s7{
	width: 100%;
    background: #60b4ac;
    height: 2px;
}
.phan-1-s7{
    width: 58%;
    float:left;
}
.phan-2-s7{
	margin-top: 6rem!important;
    width: 42%;
    float: right;
}
.color-2-s7{
	background-color: #ed3636;
}
.color-21-s7{
	color: #ed3636;
}
.color-22-s7{
	background-color: #ef7071;
}
.color-3-s7{
	background-color: #e78b19;
}
.color-31-s7{
	color: #e78b19;
}
.color-33-s7{
	background-color: #f6bf7b;
}
/*---------------------------------------------------------------Footer--------------------*/
.footer{
	width: 100%;
	background-color: #000;
	min-height: 504px;
}
.top-footer{
	width: 90%;
}
.width-arc-footer{
	width: 26%;
}
.div-img-footer{
	width: 43%;
}
.nav-footer{
	margin-top: 7rem;
}
.font-p1-footer{
	font-size: 21px;
}
.font-p2-footer{
	font-size: 14px;
}
.d3-footer{
	margin-top: 7rem;
	width: 75%;
}
.shadow-footer{
	height:1px;
	background-color: #fff;
	width: 100%;
}
.email-address{
	border: 1px;
    background-color: #000!important;
}
.email{
    width: 25px;
}
.width-arc-footer{
	min-width: 257px!important;
}
/*------------------------------------------Responsive-Tablet--------------------------------------------*/

@media screen and (max-width: 1024px){
.second-s4{
	width: 50%;
}
.second-s4-tablet{
	border-right: 1px solid #11719e;
	border-top: 1px solid #11719e;
}
.second-s4-tablet-2{
	border-right: 1px solid #fff;
}
.phan-1-s7{
    width: 100%;
    margin-bottom: 50px;
}
.phan-2-s7{
    width: 100%;
}
.center-1-s7{
	width: 100%;
    text-align: center;
}
.h4-s7{
	text-align: center;
}
.shadow-txt-s7{
    margin-top: 15px;
    margin-left: 0px;
}
.bottom-s6 {
    min-height: 335px;
    width: 95%;
}
.arc-1-s6, .arc-2-s6, .arc-3-s6{
	width: 30.33%;
}
.right-2-s3{
	width: 35%;
	float: right;
}
.rhombus-1{
	margin-top: 0px;
    margin-left: 106px;

}
.rhombus-2{
	margin-top: 51px;
    margin-left: 106px;

}
.rhombus-3{
	margin-top: 51px;
    margin-left: 106px;
}
.center-1-s3 {
    margin-top: 8rem!important;
    width: 100%;
}
.h2-s3 {
    font-size: 19px;
}
.shadow-txt-s3{
	margin: 0 auto;
}
.h4-s3{
	text-align: center;
}
.p-1-s2{
	text-align: justify;
}
.hiw{
	font-size: 29px;
}
.q-a-p {
    font-size: 19px;
}
.progress-sadow {
    width: 26%;
}
.title-left-s1 {
    font-size: 26px;
}
.width-arc-footer{
	width: 100%;
}
.top-footer {
    width: 43%;
}
.logo{
	width:0px;
	height:0px;
}
.text-nav {
    font-size: 10px;
}
.font-btn-s1{
	font-size: 12px;
}
.p-1-s6 {
    font-size: 37px;
    padding-top: 27px!important;
}
/*------------------------------------------Responsive-Tablet--------------------------------------------*/
.right-header-2 {
    width: 32%;
    margin: 0 auto!important;
}